h1, h2, h3, h4, h5, h6 {
    color: black;
}

div {
    color: #332C2C
}

* {
    box-sizing: border-box;
   }
   *:before,
   *:after {
    box-sizing: border-box;
   }
   html,
   body {
    height: 100%;
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
 
   }
   .main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
   }
   footer {
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    width: 100%;
   }

    

  .dash-table-container .previous-next-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none !important; 
  }

.rc-slider-track {
    background-color: #6c1420;
  }
  
  .rc-slider-dot-active {  
    border-color: #6c1420;
    border: solid 2px #6c1420;
  }
  
  .rc-slider-handle {
    background-color: #6c1420;
    border-color: #6c1420;
  }
  
  .rc.slider-handle:hover {
    border-color: #6c1420;
  }
  
  .rc.slider-handle-active:active {
    border-color: #6c1420;
  }

  